<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backend NodeJS</title>
</head>
<body>
  <h1>Backend Node JS</h1>
  <p><%= message %></p>
  <h3> Users Admins</h3>
  <a href="/users">Users {{main}}</a>
  <a href="/users/recieve">Users {{recieve}}</a>
  <a href="/users/send">Users {{send}}</a>
  <a href="/users/update">Users {{update}}</a>
  <a href="/users/delete">Users {{delete}}</a>
</body>
</html>

